{
  "openapi": "3.0.3",
  "info": {
    "title": "Community API",
    "version": "0.1.0",
    "description": "Authentication, profiles, and comments for the community endpoints."
  },
  "servers": [
    {
      "url": "https://community.kuest.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/auth/nonce": {
      "post": {
        "summary": "Request auth nonce",
        "description": "Returns a nonce and message to sign for wallet login.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthNonceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nonce issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthNonceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "summary": "Verify auth signature",
        "description": "Verifies a signed login message and returns a session token.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "summary": "Get profile",
        "description": "Returns public profile data for a wallet address.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address to fetch.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update profile",
        "description": "Updates username and/or avatar for the authenticated wallet.",
        "tags": [
          "Profiles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "List comments",
        "description": "Returns comments for a market event slug.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "event_slug",
            "in": "query",
            "description": "Event slug to scope comments.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "btc-updown-15m-1768152600"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for root comments.",
            "schema": {
              "type": "string",
              "enum": [
                "recent",
                "top",
                "most_liked"
              ],
              "default": "recent"
            }
          },
          {
            "name": "holders_only",
            "in": "query",
            "description": "Return only comments from holders.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of rows to return (max 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Cursor offset for pagination.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create comment",
        "description": "Creates a comment or reply for an event. Requires Authorization.",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/metrics": {
      "get": {
        "summary": "Get comment metrics",
        "description": "Returns comment totals, optionally filtered by event slug or wallet address.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "event_slug",
            "in": "query",
            "description": "Event slug to scope metrics.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address to scope metrics.",
            "schema": {
              "$ref": "#/components/schemas/Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}": {
      "delete": {
        "summary": "Delete comment",
        "description": "Soft deletes a comment owned by the session user.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comment deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}/replies": {
      "get": {
        "summary": "List comment replies",
        "description": "Returns replies for a parent comment.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of rows to return (max 50).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Cursor offset for pagination.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Replies returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommentResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments/{id}/reactions": {
      "post": {
        "summary": "React to comment",
        "description": "Adds, removes, or toggles a like on a comment. Requires Authorization.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Comment ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reaction updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "Address": {
        "type": "string",
        "description": "0x-prefixed EVM address (40 hex chars).",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "example": "0x56687bf447db6ffa42ffe2204a05edaa20f55839"
      },
      "AuthNonceRequest": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "required": [
          "address"
        ]
      },
      "AuthNonceResponse": {
        "type": "object",
        "properties": {
          "nonce": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "nonce",
          "message",
          "expires_at"
        ]
      },
      "AuthVerifyRequest": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "signature": {
            "type": "string"
          }
        },
        "required": [
          "address",
          "signature"
        ]
      },
      "AuthVerifyResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "profile": {
            "$ref": "#/components/schemas/ProfileResponse"
          }
        },
        "required": [
          "token",
          "expires_at",
          "profile"
        ]
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "username": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "proxy_wallet_address": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "address",
          "username",
          "avatar_url",
          "proxy_wallet_address",
          "created_at"
        ]
      },
      "ProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "format": "binary"
          }
        }
      },
      "CommentCreateRequest": {
        "type": "object",
        "properties": {
          "event_slug": {
            "type": "string"
          },
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          },
          "parent_comment_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "event_slug",
          "content"
        ]
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "user_avatar": {
            "type": "string"
          },
          "user_address": {
            "$ref": "#/components/schemas/Address"
          },
          "user_proxy_wallet_address": {
            "type": "string"
          },
          "user_created_at": {
            "type": "string",
            "format": "date-time"
          },
          "likes_count": {
            "type": "integer"
          },
          "replies_count": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_owner": {
            "type": "boolean"
          },
          "user_has_liked": {
            "type": "boolean"
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentPosition"
            }
          },
          "recent_replies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CommentResponse"
            }
          }
        },
        "required": [
          "id",
          "content",
          "user_id",
          "username",
          "user_avatar",
          "user_address",
          "user_proxy_wallet_address",
          "user_created_at",
          "likes_count",
          "replies_count",
          "created_at",
          "is_owner",
          "user_has_liked",
          "positions",
          "recent_replies"
        ]
      },
      "CommentPosition": {
        "type": "object",
        "properties": {
          "condition_id": {
            "type": "string"
          },
          "outcome_index": {
            "type": "integer"
          },
          "amount": {
            "type": "number"
          }
        },
        "required": [
          "condition_id",
          "outcome_index",
          "amount"
        ]
      },
      "CommentMetricsResponse": {
        "type": "object",
        "properties": {
          "comments_count": {
            "type": "integer"
          },
          "users_count": {
            "type": "integer"
          },
          "likes_count": {
            "type": "integer"
          },
          "reports_count": {
            "type": "integer"
          }
        },
        "required": [
          "comments_count",
          "users_count",
          "likes_count",
          "reports_count"
        ]
      },
      "ReactionRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "like",
              "unlike",
              "toggle"
            ]
          }
        },
        "required": [
          "action"
        ]
      },
      "ReactionResponse": {
        "type": "object",
        "properties": {
          "likes_count": {
            "type": "integer"
          },
          "user_has_liked": {
            "type": "boolean"
          }
        },
        "required": [
          "likes_count",
          "user_has_liked"
        ]
      },
      "EmptyResponse": {
        "type": "object",
        "properties": {}
      }
    }
  }
}
