{
  "openapi": "3.1.0",
  "info": {
    "title": "CLOB API",
    "description": "Endpoints for interacting with central limit order book (CLOB) pricing and spread data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://clob.kuest.com"
    }
  ],
  "tags": [
    {
      "name": "Admin",
      "description": "Internal administrative tools."
    }
  ],
  "paths": {
    "/last-trade-price": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Get last trade price",
        "operationId": "getLastTradePrice",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "description": "Token identifier to inspect.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Most recent trade price for the token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LastTradePriceResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/midpoints": {
      "post": {
        "tags": [
          "Pricing"
        ],
        "summary": "Get midpoints for many tokens",
        "operationId": "postMidpoints",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MidpointRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Midpoint prices per token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MidpointsResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/spread": {
      "get": {
        "tags": [
          "Pricing"
        ],
        "summary": "Get the bid/ask spread",
        "operationId": "getSpread",
        "parameters": [
          {
            "name": "token_id",
            "in": "query",
            "required": true,
            "description": "Token identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spread between best ask and best bid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpreadResponse"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/order-scoring": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Check if an order is scoring (L2)",
        "operationId": "isOrderScoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/KuestAddress"
          },
          {
            "$ref": "#/components/parameters/KuestApiKey"
          },
          {
            "$ref": "#/components/parameters/KuestPassphrase"
          },
          {
            "$ref": "#/components/parameters/KuestTimestamp"
          },
          {
            "$ref": "#/components/parameters/KuestSignatureL2"
          },
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "description": "Order identifier to check.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Whether the order is scoring.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderScoringResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/orders-scoring": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Check if orders are scoring (L2)",
        "operationId": "areOrdersScoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/KuestAddress"
          },
          {
            "$ref": "#/components/parameters/KuestApiKey"
          },
          {
            "$ref": "#/components/parameters/KuestPassphrase"
          },
          {
            "$ref": "#/components/parameters/KuestTimestamp"
          },
          {
            "$ref": "#/components/parameters/KuestSignatureL2"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scoring status for each order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersScoringResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdminKeySummary": {
        "type": "object",
        "required": [
          "key",
          "status",
          "chain_id",
          "nonce",
          "created_at"
        ],
        "properties": {
          "key": {
            "type": "string",
            "format": "uuid",
            "description": "API key identifier."
          },
          "status": {
            "type": "string",
            "description": "API key status (active or revoked)."
          },
          "chain_id": {
            "type": "integer",
            "description": "EVM chain ID associated with the key."
          },
          "nonce": {
            "type": "string",
            "description": "Current nonce value for signature replay protection."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the key was created."
          },
          "revoked_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the key was revoked, if applicable."
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Most recent usage timestamp for the key."
          }
        }
      },
      "AdminUserSummary": {
        "type": "object",
        "required": [
          "user_id",
          "wallet",
          "status",
          "role",
          "created_at",
          "keys"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Internal identifier of the user."
          },
          "wallet": {
            "type": "string",
            "description": "Primary wallet address for the user."
          },
          "status": {
            "type": "string",
            "description": "User status (`active`, `inactive`, or `banned`)."
          },
          "role": {
            "type": "string",
            "description": "Role assigned to the user (`fork`, `client`, or `admin`)."
          },
          "referrer_id": {
            "type": "string",
            "nullable": true,
            "description": "Upstream referrer user ID when present."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp for the user."
          },
          "keys": {
            "type": "array",
            "description": "API keys registered to the user (newest first).",
            "items": {
              "$ref": "#/components/schemas/AdminKeySummary"
            }
          }
        }
      },
      "ErrorPayload": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      },
      "AdminConditionListRequest": {
        "type": "object",
        "properties": {
          "condition_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of condition IDs to include. Empty strings are ignored."
          },
          "token_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of token IDs to match against associated conditions."
          },
          "status": {
            "type": "string",
            "description": "Filter by condition status (e.g., `active`, `paused`)."
          },
          "page": {
            "type": "integer",
            "minimum": 0,
            "description": "Zero-based page index. Defaults to `0`."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "description": "Page size between 1 and 1000. Defaults to `1000`."
          }
        }
      },
      "AdminConditionSummary": {
        "type": "object",
        "required": [
          "condition_id",
          "status",
          "token_ids",
          "open_orders",
          "filled_orders",
          "trade_count",
          "total_buy_maker_amount",
          "total_buy_taker_amount",
          "total_sell_maker_amount",
          "total_sell_taker_amount"
        ],
        "properties": {
          "condition_id": {
            "type": "string",
            "description": "Condition identifier."
          },
          "status": {
            "type": "string",
            "description": "Current status (`active`, `paused`, etc.)."
          },
          "expires_at": {
            "type": "integer",
            "nullable": true,
            "description": "Expiration timestamp (seconds) when available."
          },
          "token_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tokens linked to this condition."
          },
          "open_orders": {
            "type": "integer",
            "description": "Number of open orders."
          },
          "filled_orders": {
            "type": "integer",
            "description": "Number of filled orders."
          },
          "trade_count": {
            "type": "integer",
            "description": "Total trades associated with the condition."
          },
          "total_buy_maker_amount": {
            "type": "string",
            "description": "Aggregate maker amount for buy orders (stringified integer)."
          },
          "total_buy_taker_amount": {
            "type": "string",
            "description": "Aggregate taker amount for buy orders (stringified integer)."
          },
          "total_sell_maker_amount": {
            "type": "string",
            "description": "Aggregate maker amount for sell orders (stringified integer)."
          },
          "total_sell_taker_amount": {
            "type": "string",
            "description": "Aggregate taker amount for sell orders (stringified integer)."
          }
        }
      },
      "AdminConditionListResponse": {
        "type": "object",
        "required": [
          "page",
          "limit",
          "items"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "description": "Echo of the requested page index."
          },
          "limit": {
            "type": "integer",
            "description": "Echo of the requested limit."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminConditionSummary"
            },
            "description": "Condition summaries for the current page."
          }
        }
      },
      "SystemPauseRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "Optional reason recorded with the system pause. Trimmed; empty strings ignored."
          }
        }
      },
      "SystemStatus": {
        "type": "object",
        "required": [
          "paused",
          "reason",
          "updated_at"
        ],
        "properties": {
          "paused": {
            "type": "boolean",
            "description": "Whether the global circuit breaker is enabled."
          },
          "reason": {
            "type": "string",
            "nullable": true,
            "description": "Optional message recorded with the pause."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the status last changed (UTC)."
          }
        }
      },
      "ServerTimeResponse": {
        "type": "integer",
        "format": "int64",
        "description": "Unix timestamp in seconds."
      },
      "LastTradePriceResponse": {
        "type": "object",
        "required": [
          "price",
          "side"
        ],
        "properties": {
          "price": {
            "type": "string",
            "description": "Last traded price formatted as a string."
          },
          "side": {
            "type": "string",
            "enum": [
              "BUY",
              "SELL"
            ],
            "description": "Side of the most recent aggressor."
          }
        }
      },
      "MidpointRequest": {
        "type": "object",
        "required": [
          "token_id"
        ],
        "properties": {
          "token_id": {
            "type": "string"
          }
        }
      },
      "MidpointsResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "Midpoint price per token."
      },
      "SpreadResponse": {
        "type": "object",
        "required": [
          "spread"
        ],
        "properties": {
          "spread": {
            "type": "string"
          }
        }
      },
      "OrderScoringResponse": {
        "type": "object",
        "required": [
          "scoring"
        ],
        "properties": {
          "scoring": {
            "type": "boolean",
            "description": "Whether the order is currently scoring."
          }
        }
      },
      "OrdersScoringResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "boolean"
        },
        "description": "Map of order IDs to scoring status."
      }
    },
    "parameters": {
      "KuestAddress": {
        "name": "KUEST_ADDRESS",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Wallet address associated with the L2 credentials."
      },
      "KuestApiKey": {
        "name": "KUEST_API_KEY",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "API key identifier issued via L2 credential flow."
      },
      "KuestPassphrase": {
        "name": "KUEST_PASSPHRASE",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "64-character passphrase used with the API key."
      },
      "KuestTimestamp": {
        "name": "KUEST_TIMESTAMP",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Unix timestamp (seconds) matching the signed payload."
      },
      "KuestSignatureL2": {
        "name": "KUEST_SIGNATURE",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "EIP-712 signature authorizing the L2 request."
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Standard error response payload.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorPayload"
            },
            "example": {
              "error": "internal server error"
            }
          }
        }
      }
    }
  }
}
