app = "kuest-web"
primary_region = "iad"

[http_service]
internal_port = 3000
force_https = true
auto_start_machines = true
auto_stop_machines = "off"
min_machines_running = 1
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 1024

[env]
NODE_ENV = "production"
